<app-header [user]="user" [headerMessage]="parentMessage" (valueEmitter)="catchEmittedValue($event)">
    This content has been injected from the parent side using <b>content projection</b> technique.
</app-header>

<!-- To check use of @ViewChildren() uncomment below line -->
<!-- <app-header [headerMessage]="parentMessage"></app-header> -->

<app-tab-list></app-tab-list>


<!-- this is the place where component with routing mechanism will be loaded -->
<div>
    <a routerLink="/router-example/first" routerLinkActive="active" ariaCurrentWhenActive="page">click to navigate to first component</a>
</div>
<div>
    <a routerLink="/router-example/second" routerLinkActive="active" ariaCurrentWhenActive="page">click to navigate to second component</a>
</div>
<router-outlet></router-outlet>